@import "@deco/ui/styles/global.css";
@import "@daveyplate/better-auth-ui/css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.marching-ants-stroke {
  animation: marching-ants-svg 0.8s linear infinite;
}

@keyframes marching-ants-svg {
  to {
    stroke-dashoffset: -26;
  }
}
